body {
    background-color: #EAECF0;
}

header, main, footer {
    margin: 10px 30px;
    max-width: 768px;
}

header {
    /* background-color: #b0e0e6; */
    /* margin-bottom: 10px; */
    /* padding: 10px; */
}
header .project-name {
    /* font-weight: bold; */
}

.field-wrapper {
    padding: 5px 0;
}

footer {
    margin-top: 100px;
}

a {
    color: #36c;
    text-decoration: none;
}

input[type=submit] {
    background-color: #36c;
    border: none;
    color: #fff;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: #447ff5;
    cursor: pointer;
}

.main-content {
    background-color: white;
    padding: 30px;
}

.buttons {
    margin-top: 30px;
    text-align: right;
}

.error {
    color: red;
}
.hidden {
    display: none;
}
