header {
    background-color: #b0e0e6;
    margin-bottom: 10px;
    padding: 10px;
}
header .project-name {
    font-weight: bold;
}

.field-wrapper {
    padding: 5px 0;
}

footer {
    margin-top: 100px;
}
