.language-progress-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-container {
    align-items: stretch;
    background-color: #FFF;
    border: 1px solid #CCC;
    display: flex;
    justify-content: flex-start;
    min-width: 300px;
    max-width: 400px;
}

.source-language,
.destination-language {
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
    flex: 1 0 auto;
}

.source-language {
    border-right: 0;
    position: relative;
}

.destination-language {
    border-left: 0;
}

.source-arrow {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    transform: rotate(-45deg);
}

.progress {
    flex: 1;
    text-align: right;
}

.question {
    background-color: white;
    border-bottom: 1px solid #CCC;
    margin-top: 20px;
}
.question h2 {
    margin-bottom: 0;
}

.translation-box {
    margin: 10px 0;
}

.translation {
    // override easy complete styles
    border: 1px solid #CCC !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    font-weight: bold !important;
    padding: 10px !important;
    width: 100% !important;
}

.easy-autocomplete-container ul {
    border-top-style: solid;
}

#add-more {
    display: block;
    margin: 10px 0;
}
