.btn-group.destination {
    margin-right: -10px;
}

#source-language,
#destination-language {
    color: #999 !important;
    background-color: white !important;
    border-color: #ccc;
    border-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
}

#source-language {
    border-left: 0;
}

#destination-language {
    border-right: 0;
    padding-right: 40px;
}

.arrow-box {
	background: #fff;
    display: inline-flex;
    margin-right: -13px;
	position: relative;
    z-index: 100;
    vertical-align: middle;
}

.arrow-box:after, .arrow-box:before {
	right: 100%;
	top: 60%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    z-index: 100px;
}

.arrow-box:after {
	border-right-color: #fff;
	border-width: 17px;
	margin-top: -17px;
}
.arrow-box:before {
	border-right-color: #CCC;
	border-width: 19px;
	margin-top: -19px;
}

.question {
    border-bottom: 1px solid #CCC;
    margin-top: 20px;
}
.question h2 {
    margin-bottom: 0;
}

.translation-box {
    margin: 10px 0;
}

.translation {
    border: 1px solid #CCC;
    border-radius: 0;;
    box-shadow: none;
    font-weight: bold;
}

.easy-autocomplete-container ul {
    border-top-style: solid;
}

#add-more {
    margin: 10px 0;
}
