{% extends "sectionalignment/base.html" %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block extra_styles %}
<!-- <link rel="stylesheet" href="{% static "sectionalignment/css/index.css" %}"> -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static "sectionalignment/js/index.js" %}" ></script>
{% endblock %}


{% block content %}

<div class="main-content">
    <p>
        Please select languages to start translating section titles.
    </p>
    <p class="error {% if not error_message %}hidden{% endif %}" >
        {{ error_message }}
    </p>
    <form action="{% url 'sectionalignment:index' %}" method="get">
        <p>
            <label for="s">source language</label>
            <select name="s">
                <option value="" selected="selected"></option>
                <option value="ar">arabic</option>
                <option value="en">english</option>
                <option value="es">spanish</option>
                <option value="fr">french</option>
                <option value="ja">japanese</option>
                <option value="ru">russian</option>
            </select>
        </p>
        <p>
            <label for="d">destination language</label>
            <select name="d">
                <option value="" selected="selected"></option>
                <option value="ar">arabic</option>
                <option value="en">english</option>
                <option value="es">spanish</option>
                <option value="fr">french</option>
                <option value="ja">japanese</option>
                <option value="ru">russian</option>
            </select>
        </p>
        <p class="buttons">
            <input type="submit" value="Start" name="start">
        </p>
    </form>
</div>

{% endblock %}
