{% extends "sectionalignment/base.html" %}
{% load static %}

{% block title %}Mapping{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "css/easy-autocomplete.min.css" %}">
<link rel="stylesheet" href="{% static "sectionalignment/css/mapping.css" %}">
{% endblock %}

{% block extra_scripts %}
<script>
var suggestions = {{ suggestions|safe }};
</script>

<script src="{% static "js/jquery.easy-autocomplete.min.js" %}" ></script>
<script src="{% static "sectionalignment/js/mapping.js" %}" ></script>
{% endblock %}

{% block content %}
<form action="{% url 'sectionalignment:mapping' %}" method="post">
    {% csrf_token %}

    <p>
        <b>Translate section titles to train our robots</b>
        <p>Translate these section titles as you would expect to find them on
            Wikipedia articles in your language. The more you translate the better
            suggestions we'll be able to provide to editors in the future.
            <br>
            <a href="">More instructions</a>
        </p>

    </p>

    <div class="language-progress-line">
        <div class="language-container">
            <span class="source-language">
                {{source_language}}
            </span>
            <span class="source-arrow"></span>
            <span class="destination-language">
                {{destination_language}}
            </span>
        </div>
        <div class="progress">
            {% if user.counter > 4 %}
            😎 {{ user.counter }} translations completed!
            {% endif %}
        </div>
    </div>

    <div class="question">
        <b>Section to translate</b>
        <h2>{{ user_input.source.title }}</h2>
        <!-- <a href="">View example</a> -->
    </div>
    <div class="answer">
        <div>Your translation</div>
        <div class="translation-box">
            <input type="text" class="translation" name="translation">
        </div>

        <a id="add-more" href="#">+ Add an alternative translation</a>

        <div class="buttons">
            <input type="submit" name="skip" value="Skip this one">
            <input type="submit" name="save" value="Submit translation">
        </div>
    </div>
</form>

{% endblock %}

{% block footer %}
<a href="{% url "sectionalignment:index" %}?c=1">
    Change source and target languages
</a>
{% endblock %}
