{% extends "sectionalignment/base.html" %}

{% block title %}Mapping{% endblock %}

{% block content %}

<h3>{{ title }}</h3>

<form action="{% url 'sectionalignment:mapping' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="title" value="{{ title }}" />
    <input type="hidden" name="language" value="{{ language }}" />

    {% for lang_code, data in questions.items %}
    <div class="field-wrapper">
        <h4>{{ data.language }}</h4>
        <label for="{{ lang_code }}_select">Select an option</label>
        <select name="{{ lang_code }}" id="{{ lang_code }}_select">
            <option value="">---</option>
            {% for mapping in data.mappings %}
            <option value="{{ mapping }}">{{ mapping }}</option>
            {% endfor %}
        </select>
        and/or
        <label for="{{ lang_code }}_input">Input your own</label>
        <input type="text" name="{{ lang_code }}" id="{{ lang_code}}_input" value="" />
    </div>
    {% endfor %}

    <input type="submit" value="Save & Next">
</form>

{% endblock %}
