[Unit]
Description=Gapfinder Tools
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --enable-threads --ini /srv/gapfindertools/gapfindertools/uwsgi.ini
User=www-data
Group=www-data
Restart=always
StandardError=syslog
NotifyAccess=all
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
Alias=gapfindertools.service
