[Unit]
Description=Gapfinder Tools
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --enable-threads --ini /srv/gapfindertools/gapfindertools/uwsgi.ini
ExecStop=/usr/bin/uwsgi --stop /tmp/gapfindertools-master.pid
User=www-data
Group=www-data
#Restart=always
StandardError=syslog
NotifyAccess=all
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
