{% load static %}
<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}gapfinder tools{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>
    <body>
        {% block header %}
        <header>
            <a href="/" class="project-name">gapfinder tools</a>
            <span class="app-name">{% block appname %}{% endblock %}</span>
        </header>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>
