{% extends "base.html" %}

{% block title %}Map{% endblock %}

{% block content %}

<h3>{{ title }}</h3>

<form action="{% url 'map' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="title" value="{{ title }}" />
    <input type="hidden" name="language" value="{{ language }}" />

    {% for lang_code, data in questions.items %}
    <div class="field-wrapper">
        <label for="{{ lang_code }}">{{ data.language }}</label>
        <select name="{{ lang_code }}">
            <option value="">---</option>
            {% for target in data.targets %}
            <option value="{{ target }}">{{ target }}</option>
            {% endfor %}
        </select>
    </div>
    {% endfor %}

    <input type="submit" value="Save & Next">
</form>

{% endblock %}
